<p>
  <b><font size="6">MyBeer: The Best Boston Beer/Bar/Breweries (B5) Recommender when it works</font></b> <br /><br />
</p>
<hr>
<p>
  get recommendations by telling us your favorite beer!
</p>
<form method="POST">
    <input name="text">
    <input type="submit" value="submit beer name">
</form>
<p>
  <br />
  try: <br /><br />
  I Am Become Death <br />
  Wild Devil <br />
  Black Thunder <br />
  Devil's Heart Of Gold <br />
</p>
<hr>
<p>
  Existing Beeradvocate.com user? <br />
  get recommendations by telling us your user name!
</p>
<form method="POST">
    <input name="text1">
    <input type="submit" value="submit username">
</form>
<p>
  Feature in developing... Please come back in a few days... <br />
</p>
